<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aswamedha.aswamedhaeducation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/adMobId"/>
        <activity android:name="com.aswamedha.aswamedhaeducation.questions.YoutubePlayerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aswamedha.aswamedhaeducation.login.SmsRegistrationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.aswamedha.aswamedhaeducation.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.aswamedha.aswamedhaeducation.questions.HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:screenOrientation="portrait" android:name="com.aswamedha.aswamedhaeducation.login.UserRegistrationActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.aswamedha.aswamedhaeducation.login.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>